<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PHPWatermark Test Suite">
            <directory>tests/Ajaxray/PHPWatermark/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <exclude>
            <directory suffix=".php">vendor/</directory>
        </exclude>
        <include>
            <directory suffix=".php">src/Ajaxray/PHPWatermark/</directory>
        </include>
    </coverage>

    <php>
        <ini name="date.timezone" value="UTC"/>
        <includePath>tests/Ajaxray/TestUtils/</includePath>
    </php>
</phpunit>
